<div class="container">
  <div class="row">
    <% @bars.each do |bar| %>
    <%= link_to bar_drinks_path(bar) do %>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="bar-card">
        <div class="row">

          <div class="col-xs-2 col-sm-12">
            <div class="bar-photo" style="background-image: url('<%= image_path bar.picture %>');">
            </div>
          </div>

          <div class="col-xs-10 col-sm-12">
            <div class="bar-content">
              <span class="label label-success pull-right">
                open
              </span>
              <h3>
                <%= bar.name %>
              </h3>
              <div>
                <small><%= bar.address %></small>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <% end %>

    <% end %>
  </div>
</div>
<%# render 'bar_card' , bar: bar %>
