<%= link_to bar_order_path(@bar, @order), class: "link-no-decoration" do %>
  <div class="button-to-pay form-control vertical-align">
    <i class="material-icons pull-left">shopping_cart</i>
    <%= pluralize(@order.number_of_items_per_order, "Drink") %>
    -
    <%= @order.total_order %> €
    <i class="material-icons pull-right">navigate_next</i>
  </div>
<% end %>
