<div class="navbar-menux navbar-menux-fixed" role="navigation">
<% unless @hide_back_button %>
  <div onclick="goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
<% end %>
  <h3 class="navbar-title" href="#">MenuX</h3>
  <div id="o-wrapper" class="o-wrapper">
    <div class="c-buttons">
       <div id="c-button--slide-right" class="c-button">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars navbar-button" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
  <button class="c-menu__close">&larr; Close Menu</button>
  <ul class="c-menu__items">
    <li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
    <li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
  </ul>
</nav>

<div id="c-mask" class="c-mask"></div><!-- /c-mask -->



<!-- Specific js -->

<% content_for(:after_js) do %>
<script type="text/javascript">
  function goBack() {
    window.history.back();
  }
  /**
   * Slide right instantiation and action.
   */
   var slideRight = new Menu({
    wrapper: '#o-wrapper',
    type: 'slide-right',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
  });
   var slideRightBtn = document.querySelector('#c-button--slide-right');

   slideRightBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideRight.open();
  });
</script>
<% end %>






