

<h1 class="text-center">My Orders overview</h1>

<div class="container-fluid">
  <% current_user.orders.each do |order| %>
  <% if order.confirmed == true %>
  <% @order.order_lines.each do |line| %>
  <tr>
    <td><%= line.drink.name %></td>
    <td><%= line.drink.size %></td>
    <td><%= line.quantity %></td>
<td><%= line.drink.price * line.quantity %> €</td>
</tr>
<% end %>
<% end %>
<% end %>





