<% content_for :navbar do %>
<%= render 'shared/navbar_barname' %>
<% end %>

<h1 class="text-center">Orders overview</h1>

<div class="container">
  <div class="row">
    <% @bar.orders.each do |order| %>
    <% if order.confirmed == true && order.delivered == false %>

    <%= link_to bar_waiter_order_path(@bar, order), class: "link-no-decoration #{'order-in-charge' if order.in_charge}" do %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="order-card">

        <div>
          <% if (order.table_number.present?) then%>
            <p>Table: <%= order.table_number %></p>
          <% else %>
            <p>At the bar</p>
          <% end %>
        </div>

        <div>
          <%= pluralize(order.number_of_items_per_order, "Drink") %>
        </div>

        <div>
          <% if order.in_charge then %>
            <span class="label label-danger">
              TAKEN
            </span>
          <% else %>
            <span class="label label-success">
              TO DO
            </span>
          <% end %>
        </div>
      </div>
        <% end %>
        <% end %>
    </div>
    <% end %>
  </div>
</div>





