.button-delivery {
  text-align: center;
  margin: 10px auto;
  width: 60%;
  padding: 15px 20px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #F0CC00;
  color: black;
  &:hover {
    color: black;
  }
}

.button-bar {
  text-align: center;
  margin: 10px auto;
  width: 60%;
  padding: 15px 20px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #F0CC00;
  color: black;
  &:hover {
    color: black;
    cursor: pointer; cursor: hand;
  }
  p {
    margin-bottom: 0;
  }
}

.chosen {
    background-color: #847000;
    color: white;
    &:hover {
      color: white;
    }
  }

.table_picker {
  background-color: black;
}

.button-to-pay {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  background-color: #32B796;
  border-color: #2da386;
  font-weight: bold;
  border-radius: 2px 2px 0 0;
  color: white;
  display: flex;
  justify-content: center;
  i {
    margin-right: 20px;
  }
  &:hover {
    background-color: #278f75;
    border-color: #1f735e;
    color: #fff;
  }
}


